@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --font-sans: var(--font-dm-sans); /* ✅ Added here */
}

.space-grotesk {
  font-family: var(--font-space-grotesk), sans-serif;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}








/* Custom Ripple Animations */
@keyframes ping-slow {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes ping-slower {
  0% {
    transform: scale(1);
    opacity: 0.4;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}

.animate-ping-slow {
  animation: ping-slow 1.8s ease-out infinite;
}

.animate-ping-slower {
  animation: ping-slower 2.4s ease-out infinite;
}